{% extends 'base.html' %}
{% block title %}Request{% endblock title %}

{% block body %}
<link rel="stylesheet" href="../static/css/form.css">
  <div class="container">
    <div class="title">Give Information for {{naam}}</div>
    <div class="content">
      <form method="POST", action="/final">
      {% csrf_token %}
        <div class="user-details">
            <div class="input-box">
                <span class="details">You have known him/her for:</span>
                <!-- <input type="text" placeholder="Choose Professor" required> -->
                <select name="yrs">
                  <option selected hidden>No.of years</option>
                  <option>one year</option>
                  <option>two year</option>
                  <option>three year</option>
                  <option>four year</option>
                </select>
              </div>
          
          <div class="input-box">
            <span class="details">How was he/she:</span>
            <select name="behaviour">
              <option selected hidden>How?</option>
              <option>good</option>
              <option>better</option>
              <option>best</option>
            </select>
          </div>

          <div class="input-box">
            <input type="hidden" value="{{naam}}" name="name" readonly>
          </div>
         
          <!-- <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefer not to say</span>
            </label>
          </div>
        </div> -->
          <div class="button">
            <input type="submit" value="Submit">
          </div>
      </form>
    </div>
  </div>
</body> {% endblock body %}
</html>

