{% extends 'base.html' %} 
{% block title %}Home{% endblock title %}

{% block body %}
<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../static/css/style.css" />
<header>
   <div class="logo-container">
      <img src="../static/images/img/logo.svg" alt="logo" />
      <h4 class="logo">IOE | Pulchowk Campus</h4>
   </div>
   <nav>
      <ul class="nav-links">
         <li><a class="nav-link" href="#">Specs</a></li>
         <li><a class="nav-link" href="#">Products</a></li>
         <li><a class="nav-link" href="#">Contact</a></li>
      </ul>
   </nav>
   <div class="cart">
      <img src="../static/images/img/cart.svg" alt="cart" />
   </div>
</header>

<main>
   <section class="presentation">
      <div class="introduction">
         <div class="intro-text">
            <h1>Recommendation Letter Generator</h1>
            <p>
               This is an official portal from Pulchowk Campus
               for the process of making Recommendation Letter
               for students willing to proceed their further studies foreign.
            </p>
         </div>


         <div class="cta">
            <a href="/loginStudent"><button class="cta-add">I am a Student</button></a>
            <a href="/loginTeacher"><button class="cta-add">I am a Professor</button></a>>
         </div>
      </div>
      <div class="cover">
         <img src="../static/images/img/character.svg" alt="character" />
      </div>
   </section>
   
   <img class="big-circle" src="../static/images/img/big-eclipse.svg" alt="" />
   <img class="medium-circle" src="../static/images/img/mid-eclipse.svg" alt="" />
   <img class="small-circle" src="../static/images/img/small-eclipse.svg" alt="" />
</main>
{% endblock body %}