{% extends 'base.html' %}
{% block title %}Services{% endblock title %}
{% block body %}
<h1>Requests::</h1>

<div>
    {% for student in student_list %}

    <div class="alert alert-success" role="alert" onclick="location.href='#';" style="cursor: pointer;">
        <h4 class="alert-heading">{{student.name}}</h4>
        <p>This person has requested you for the recommendation letter.He has gpa {{student.gpa}}</p>
        <hr>
        <p class="mb-0">Click Here to create one.</p>

        
      </div>
    
    {% endfor %}
</div>
{% endblock body %}